  <div class="recommended">
    <div class="recommended__heading">Дополните свой образ:</div>
    <div class="swiper-container s4">
      <ul class="swiper-wrapper">
        {% for product in products %}
          <div class="swiper-slide">
            <li class="product product-fade-in" data-swiper-parallax="-10%" data-swiper-parallax-scale="0.90">
              {% if product.action_percent > 0 %}
                <div class="price-tag-category">
                  <span>-{{ product.action_percent }}%</span>
                </div>
              {% endif %}

              <a href="{{ product.href }}" class="product__detail-link" title="{{ product.name }}" alt="{{ product.name }}">
                <span id="add-info" class="add-to-cart-animation">добавлено</span>
                {% if product.tags %}
                  <p class="product-tags product-tags--category">
                    {% for i in 0..product.tags|length %}
                      {% if i < (product.tags|length - 1) %}
                        <span>{{ product.tags[i].tag }}</span>
                      {% else %}
                        <span>{{ product.tags[i].tag }}</span> 
                      {% endif %}
                    {% endfor %}
                  </p>
                {% endif %}
                <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}">
              </a>

              <div class="product__description">
                <div class="product__heading">
                  <h4 class="product-name">{{ product.name }}</h4><span class="product__model">{{ product.model }}</span>
                </div>
                {% if product.price %}
                  <div class="prices">
                    {% if not product.special %}
                      <span class="current-price">
                        {{ product.price }}
                      </span>
                    {% else %}
                      {{ skidka }}
                      <span class="new-price">{{ product.special }}</span>
                      <span class="old-price">{{ product.price }}</span>
                    {% endif %}
                    <a href="javascript:void(0)" onclick="fastOrder(this)" class="fast-order popup-content-{{ product.product_id }}" data-effect="mfp-move-horizontal">Заказать в 1 клик!</a>
                  </div>
                {% endif %}
              </div>

              <button class="add-to-fav" onclick="cart.add('{{ product.product_id }}')">
                <svg class="favorite-icon" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.80434 10.5385L11.5266 22.1567C11.6942 22.357 11.9682 22.3543 12.1336 22.1567L21.8553 10.5385L21.4677 11.0353C22.0398 10.3196 22.4498 9.45703 22.6371 8.50877C22.7119 8.12936 22.7517 7.7363 22.7517 7.33396C22.7517 4.14853 20.2847 1.5658 17.2412 1.5658C14.7306 1.5658 12.6124 3.32365 11.948 5.72732L11.7187 5.72296C11.0538 3.31874 8.93565 1.56143 6.42498 1.56143C3.38204 1.56143 0.915039 4.14362 0.915039 7.32959C0.915039 7.73193 0.954345 8.12445 1.02914 8.50386C1.21639 9.45211 1.62637 10.3152 2.19904 11.0309" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </button>

              <button class="add-to-cart" onclick="cart.add('{{ product.product_id }}'); cart.addAnim('{{ product.product_id }}', '', $(this)); this.setAttribute('class', 'add-to-cart add-to-cart--active');">
                <svg class="add-to-cart-icon" width="26" height="28" viewBox="0 0 26 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <mask id="path-1-outside-1" maskUnits="userSpaceOnUse" x="-0.301758" y="-0.429382" width="26" height="28" fill="black">
                    <rect fill="white" x="-0.301758" y="-0.429382" width="26" height="28"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M24.8599 26.3552L23.781 9.16162C23.7653 9.01985 23.6977 8.88892 23.5911 8.79409C23.4846 8.69926 23.3467 8.64726 23.204 8.64812H18.5883V6.34027C18.5883 4.81006 17.9804 3.34253 16.8984 2.26051C15.8164 1.17849 14.3489 0.570618 12.8187 0.570618C11.2885 0.570618 9.82094 1.17849 8.73892 2.26051C7.6569 3.34253 7.04903 4.81006 7.04903 6.34027V8.64812H2.46793C2.32529 8.64726 2.18739 8.69926 2.08084 8.79409C1.97429 8.88892 1.90665 9.01985 1.89096 9.16162L0.702413 26.4648C0.692575 26.5462 0.700188 26.6287 0.724744 26.7069C0.749301 26.7851 0.790237 26.8572 0.844827 26.9183C0.899417 26.9795 0.966408 27.0283 1.04134 27.0615C1.11627 27.0947 1.19742 27.1116 1.27938 27.111H24.306C24.4591 27.111 24.6058 27.0502 24.714 26.942C24.8222 26.8338 24.883 26.6871 24.883 26.534C24.8847 26.4736 24.8769 26.4132 24.8599 26.3552ZM8.20296 6.34027C8.20296 5.1161 8.68925 3.94208 9.55487 3.07646C10.4205 2.21084 11.5945 1.72455 12.8187 1.72455C14.0428 1.72455 15.2169 2.21084 16.0825 3.07646C16.9481 3.94208 17.4344 5.1161 17.4344 6.34027V8.64812H8.20296V6.34027ZM1.92558 25.9571L3.01027 9.80205H7.04903V11.1175C6.82904 11.2445 6.65711 11.4406 6.5599 11.6753C6.46269 11.91 6.44564 12.1702 6.51138 12.4155C6.57713 12.6609 6.722 12.8777 6.92352 13.0323C7.12505 13.187 7.37197 13.2708 7.62599 13.2708C7.88001 13.2708 8.12693 13.187 8.32846 13.0323C8.52999 12.8777 8.67486 12.6609 8.7406 12.4155C8.80635 12.1702 8.78929 11.91 8.69208 11.6753C8.59487 11.4406 8.42294 11.2445 8.20296 11.1175V9.80205H17.4344V11.1175C17.2144 11.2445 17.0425 11.4406 16.9453 11.6753C16.8481 11.91 16.831 12.1702 16.8967 12.4155C16.9625 12.6609 17.1074 12.8777 17.3089 13.0323C17.5104 13.187 17.7573 13.2708 18.0114 13.2708C18.2654 13.2708 18.5123 13.187 18.7138 13.0323C18.9154 12.8777 19.0602 12.6609 19.126 12.4155C19.1917 12.1702 19.1747 11.91 19.0774 11.6753C18.9802 11.4406 18.8083 11.2445 18.5883 11.1175V9.80205H22.6732L23.6541 25.9571H1.92558Z"/>
                  </mask>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M24.8599 26.3552L23.781 9.16162C23.7653 9.01985 23.6977 8.88892 23.5911 8.79409C23.4846 8.69926 23.3467 8.64726 23.204 8.64812H18.5883V6.34027C18.5883 4.81006 17.9804 3.34253 16.8984 2.26051C15.8164 1.17849 14.3489 0.570618 12.8187 0.570618C11.2885 0.570618 9.82094 1.17849 8.73892 2.26051C7.6569 3.34253 7.04903 4.81006 7.04903 6.34027V8.64812H2.46793C2.32529 8.64726 2.18739 8.69926 2.08084 8.79409C1.97429 8.88892 1.90665 9.01985 1.89096 9.16162L0.702413 26.4648C0.692575 26.5462 0.700188 26.6287 0.724744 26.7069C0.749301 26.7851 0.790237 26.8572 0.844827 26.9183C0.899417 26.9795 0.966408 27.0283 1.04134 27.0615C1.11627 27.0947 1.19742 27.1116 1.27938 27.111H24.306C24.4591 27.111 24.6058 27.0502 24.714 26.942C24.8222 26.8338 24.883 26.6871 24.883 26.534C24.8847 26.4736 24.8769 26.4132 24.8599 26.3552ZM8.20296 6.34027C8.20296 5.1161 8.68925 3.94208 9.55487 3.07646C10.4205 2.21084 11.5945 1.72455 12.8187 1.72455C14.0428 1.72455 15.2169 2.21084 16.0825 3.07646C16.9481 3.94208 17.4344 5.1161 17.4344 6.34027V8.64812H8.20296V6.34027ZM1.92558 25.9571L3.01027 9.80205H7.04903V11.1175C6.82904 11.2445 6.65711 11.4406 6.5599 11.6753C6.46269 11.91 6.44564 12.1702 6.51138 12.4155C6.57713 12.6609 6.722 12.8777 6.92352 13.0323C7.12505 13.187 7.37197 13.2708 7.62599 13.2708C7.88001 13.2708 8.12693 13.187 8.32846 13.0323C8.52999 12.8777 8.67486 12.6609 8.7406 12.4155C8.80635 12.1702 8.78929 11.91 8.69208 11.6753C8.59487 11.4406 8.42294 11.2445 8.20296 11.1175V9.80205H17.4344V11.1175C17.2144 11.2445 17.0425 11.4406 16.9453 11.6753C16.8481 11.91 16.831 12.1702 16.8967 12.4155C16.9625 12.6609 17.1074 12.8777 17.3089 13.0323C17.5104 13.187 17.7573 13.2708 18.0114 13.2708C18.2654 13.2708 18.5123 13.187 18.7138 13.0323C18.9154 12.8777 19.0602 12.6609 19.126 12.4155C19.1917 12.1702 19.1747 11.91 19.0774 11.6753C18.9802 11.4406 18.8083 11.2445 18.5883 11.1175V9.80205H22.6732L23.6541 25.9571H1.92558Z"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M24.8599 26.3552L23.781 9.16162C23.7653 9.01985 23.6977 8.88892 23.5911 8.79409C23.4846 8.69926 23.3467 8.64726 23.204 8.64812H18.5883V6.34027C18.5883 4.81006 17.9804 3.34253 16.8984 2.26051C15.8164 1.17849 14.3489 0.570618 12.8187 0.570618C11.2885 0.570618 9.82094 1.17849 8.73892 2.26051C7.6569 3.34253 7.04903 4.81006 7.04903 6.34027V8.64812H2.46793C2.32529 8.64726 2.18739 8.69926 2.08084 8.79409C1.97429 8.88892 1.90665 9.01985 1.89096 9.16162L0.702413 26.4648C0.692575 26.5462 0.700188 26.6287 0.724744 26.7069C0.749301 26.7851 0.790237 26.8572 0.844827 26.9183C0.899417 26.9795 0.966408 27.0283 1.04134 27.0615C1.11627 27.0947 1.19742 27.1116 1.27938 27.111H24.306C24.4591 27.111 24.6058 27.0502 24.714 26.942C24.8222 26.8338 24.883 26.6871 24.883 26.534C24.8847 26.4736 24.8769 26.4132 24.8599 26.3552ZM8.20296 6.34027C8.20296 5.1161 8.68925 3.94208 9.55487 3.07646C10.4205 2.21084 11.5945 1.72455 12.8187 1.72455C14.0428 1.72455 15.2169 2.21084 16.0825 3.07646C16.9481 3.94208 17.4344 5.1161 17.4344 6.34027V8.64812H8.20296V6.34027ZM1.92558 25.9571L3.01027 9.80205H7.04903V11.1175C6.82904 11.2445 6.65711 11.4406 6.5599 11.6753C6.46269 11.91 6.44564 12.1702 6.51138 12.4155C6.57713 12.6609 6.722 12.8777 6.92352 13.0323C7.12505 13.187 7.37197 13.2708 7.62599 13.2708C7.88001 13.2708 8.12693 13.187 8.32846 13.0323C8.52999 12.8777 8.67486 12.6609 8.7406 12.4155C8.80635 12.1702 8.78929 11.91 8.69208 11.6753C8.59487 11.4406 8.42294 11.2445 8.20296 11.1175V9.80205H17.4344V11.1175C17.2144 11.2445 17.0425 11.4406 16.9453 11.6753C16.8481 11.91 16.831 12.1702 16.8967 12.4155C16.9625 12.6609 17.1074 12.8777 17.3089 13.0323C17.5104 13.187 17.7573 13.2708 18.0114 13.2708C18.2654 13.2708 18.5123 13.187 18.7138 13.0323C18.9154 12.8777 19.0602 12.6609 19.126 12.4155C19.1917 12.1702 19.1747 11.91 19.0774 11.6753C18.9802 11.4406 18.8083 11.2445 18.5883 11.1175V9.80205H22.6732L23.6541 25.9571H1.92558Z" stroke-width="0.7" mask="url(#path-1-outside-1)"/>
                  <rect x="12.2432" y="14.1271" width="1.64269" height="8.76103" rx="0.821346"/>
                  <rect x="17.4443" y="17.6863" width="1.64269" height="8.76103" rx="0.821346" transform="rotate(90 17.4443 17.6863)"/>
                </svg>
              </button>
            </li>
          </div>
        {% endfor %}
      </ul>
    </div>
  </div>

  <script>
    function fastOrder(elem) {
      $.magnificPopup.open({
        items: {
          src: '#fast-order',
        },
        type: 'inline',
        midClick: true,
        removalDelay: 500,
        fixedContentPos: false,
        fixedBgPos: true,
        callbacks: {
          beforeOpen: function() {
            this.st.mainClass = $("a[class*='popup-content-']").attr('data-effect');
          }
        }
      });

      var forms = $('.fast-order__popup');

      forms.trigger('reset');
      $('.popup__overlay').removeClass('popup__overlay--active');
      var name = $(elem).parent().parent().parent().find('.product-name').text();
      $('#fast-order').find('.product_name').val('Быстрый заказ (' + name + ')');

      forms.submit(function() {
        var th = $(this);
        $.ajax({
          type: 'POST',
          url: 'mail.php',
          data: th.serialize(),
          success: function() {
            $('.popup__overlay').addClass('popup__overlay--active');

            setTimeout(function() {
              $('.popup__overlay').removeClass('popup__overlay--active');
            }, 8000);

            setTimeout(function() {
              th.trigger('reset');
            }, 1000);
          }
        });
        return false;
      });
    }
  </script>